.sign-page {
    background-color: aliceblue;
    height: 100vh;
    padding-top: 100px;

    .sign-card {
        margin: 0 auto;
        width: 500px;

    }

    .button-sign-up {
        display: flex;
        justify-content: center;
        gap: 100px;

    }
}