* {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

.container {
    width: 100%;
    margin: 20px;

}

.title {
    width: 700px;
    margin: 0 auto;
    text-align: center;

}

.title p {
    font-size: 25px;
    color: rgb(131, 131, 127);
    padding: 20px;
}

.title button {
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin: 10px;
}



.buttonSecondary {
    background-color: #6c757d;
}

.buttonMain {
    background-color: #077bff;
}

.buttonMain:hover {
    background-color: #0871e9;
}

.buttonSecondary:hover {
    background-color: #5d656c;
}

.buttonMain:active {
    padding: 9px;
    border: 2px solid #308cf4;
}

.buttonSecondary:active {
    padding: 9px;
    border: 2px solid #8d9ba7;
}


/* content css */

.content {
    background-color: #c6cacea7;
    width: 100%;
    text-align: center;
    padding: 40px
}

.item {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 20px;
    width: 450px;
    height: 500px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.item-image {
    border-radius: 10px;
    background-color: #55595c;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.item-content {
    font-size: 25px;
    text-align: justify;
    margin: 10px;
}

.item-action {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 20px;
}

.item-action td {
    border: 1px solid black;
    padding: 10px;
    margin: 0;
    width: 50px;

}

.item-action table tr td:hover {
    background-color: black;
    color: white;
}

.item-time {
    position: absolute;
    right: 30px;
    bottom: 40px;
    font-size: 20px;
}

table,
tr,
td {
    border: 1px solid;

}

table {
    width: 100%;
    border-collapse: collapse;

}