.wrapper-menu {
    margin-top: 20px;
}

.main-menu {
    text-align: left;
    list-style-type: none;



    li:hover {
        background-color: rgb(162, 193, 193);
        transition: 0.7s;
        cursor: pointer;
    }

    .item {

        display: flex;
        gap: 10px;
        padding: 7px 7px 7px 50px;
        border-radius: 10px;
    }


}