.Contact {
    padding: 10px 15%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
}

.Contact-Content {
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: rgb(39, 50, 102);

}

.Contact-Content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #273266;
    margin-top: 0px;
    margin-bottom: 8px;
}

.Contact-Info {
    margin-top: 10px;

}

.Contact-Info ul {
    list-style-type: none;
}

.Contact-Info ul li span {
    margin: 10px;
}

.listAddressContact {
    margin-top: 10px;
    margin-bottom: 10px;

}

.listAddressContact span {
    color: rgb(99, 173, 239)
}

.listAddressContact ul {
    list-style-type: circle;
    margin-left: 20px;
}

.Contact-Form {
    flex: 1;

    height: 700px;

    position: relative;
}

/* .bg1{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aqua;
    top:20px;
} */
/* .bg2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red;
    top: 10px;
    left: 10px;
} */
.Contact-Form-Content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FAFCFE;
    border-radius: 8px;
    left: 20px;
    box-shadow: 5px 0px 20px #d8dadd;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: rgb(39, 50, 102);
}

.Contact-Form-Content::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -16px;
    width: 100%;
    height: 100%;
    background: #0391E8;
    opacity: 0.1;
    border-radius: 8px;
    z-index: -1;
}

.Contact-Form-Content::after {
    content: '';
    position: absolute;
    top: 40px;
    left: -32px;
    width: 100%;
    height: 100%;
    background: #0391E8;
    opacity: 0.1;
    border-radius: 8px;
    z-index: -2;
}
.Row-Form{
    margin: 10px;
}
.Row-Form input {
    width: 100%;
    height: 40px;
    border: solid 1px #D3D3D3;
    border-radius: 4px;
    transition: 1s;
    font-size: 20px;
    font-weight: 100;
    color:#273266
}
.Row-Form textarea{
    width: 100%;
    border: solid 1px #D3D3D3;
    border-radius: 4px;
    transition: 1s;
    font-size: 20px;
    font-weight: 100;
    color:#273266
}
.Row-Form textarea:focus{
    outline-width: 0px;
}
.Col-2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.Col-Form{
    flex: 1;
    flex: 1;
}

.Row-Form input:hover {

    box-shadow: 0 0 10pt 0.5pt #D3D3D3;

}
.Row-Form input:focus{
    box-shadow: 0 0 10pt 0.5pt #D3D3D3;
    outline-width: 0px;
}
.Form-Submit-Button{
    text-align: center;
    margin-top: 30px;
}
.Form-Submit-Button button{
    padding: 10px;
    width: 350px;
    border: 0 solid transparent;
    border-radius: 8px;
    font-size: 18px;
    background: linear-gradient(90deg, rgba(43,140,48,1) 0%, rgba(21,154,20,1) 48%, rgba(30,197,121,1) 100%);
    color: white;
}
.Form-Submit-Button button:hover{
    border: 1px solid rgb(81, 220, 88) ;
    padding: 9px;
}
.Form-Submit-Button button:active{
    border: 2px solid rgb(81, 220, 88) ;
    padding: 8px;
}