.MyForm {

    background-color: #FAFCFE;
    border-radius: 8px;
    box-shadow: 5px 0px 20px #d8dadd;
    padding: 50px;
    font-weight: 400;
    color: rgb(39, 50, 102);
    width: 50%;
    margin: auto;
    font-size: 20px;
}

button {

    margin: 10px;

}
